<a href="/"><h1>Insert Productos</h1></a>

<form method="POST">
	<label for="nombre_prod">Nombre Producto</label>
	<input type="text" id="nombre_prod" name="nombre_prod" placeholder="NombreProducto">
	<br>
	<label for="tipo">Tipo</label>
	<input type="text" id="tipo" name="tipo" placeholder="Tipo">
	<br>
	<label for="descripcion">Descripcion</label>
	<input type="text" id="descripcion" name="descripcion" placeholder="Descripcion">
	<br>
	<label for="marca">Marca</label>
	<input type="text" id="marca" name="marca" placeholder="Marca">
	<br>
	<label for="origen">Origen</label>
	<input type="text" id="origen" name="origen" placeholder="Origen">
	<br>
	<button type="submit" class="btn btn-primary">Insert</button>
</form>